#star{
    
    color:red;
    
}
#lname1{
 padding-left: 145px;
}
#lname{
    margin-left: 20px;
}
.checked {
    color: orange;
  }
  /* #table1{
      border: orange 5px solid;
  } */
  td{
      text-align: center;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  #container{
     margin:auto;
    max-width: 500px;
    border:orangered 2px solid;
    padding:20px;  }
    #button{
        padding:10px
    }
    #change{
        font-family:Arial, Helvetica, sans-serif;
    }